<plugin name='gcore' version='0.3.4' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>gcore plugin</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/gcore</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>GcoreConfig</resource>
    <resource>GcoreUrlMappings</resource>
    <resource>RecaptchaConfig</resource>
    <resource>Searchable</resource>
    <resource>SecurityFilters</resource>
    <resource>SeleniumConfig</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>ActivationCommand</resource>
    <resource>ActivationController</resource>
    <resource>AdminController</resource>
    <resource>ClinicalController</resource>
    <resource>CollaborationGroupController</resource>
    <resource>CollaborationGroupsController</resource>
    <resource>ContactController</resource>
    <resource>CreateCollabCommand</resource>
    <resource>DeleteCollabUserCommand</resource>
    <resource>FindingController</resource>
    <resource>GDOCUserController</resource>
    <resource>HelpController</resource>
    <resource>HomeController</resource>
    <resource>InvitationController</resource>
    <resource>InviteCollabCommand</resource>
    <resource>LoginCommand</resource>
    <resource>LoginController</resource>
    <resource>LogoutController</resource>
    <resource>MembershipController</resource>
    <resource>NotificationController</resource>
    <resource>PoliciesController</resource>
    <resource>ProtectedArtifactController</resource>
    <resource>PublicController</resource>
    <resource>RegistrationCommand</resource>
    <resource>RegistrationController</resource>
    <resource>RegistrationPublicCommand</resource>
    <resource>RenameListCommand</resource>
    <resource>ResetPasswordCommand</resource>
    <resource>RoleController</resource>
    <resource>SavedAnalysisController</resource>
    <resource>SearchController</resource>
    <resource>ShareCommand</resource>
    <resource>ShareController</resource>
    <resource>StudyDataSourceController</resource>
    <resource>TutorialsController</resource>
    <resource>UserListController</resource>
    <resource>UserOptionController</resource>
    <resource>WorkflowsController</resource>
    <resource>Annotation</resource>
    <resource>AnnotationData</resource>
    <resource>ArrayDesign</resource>
    <resource>AttributeType</resource>
    <resource>AttributeValue</resource>
    <resource>AttributeVocabulary</resource>
    <resource>Biospecimen</resource>
    <resource>BiospecimenValue</resource>
    <resource>CollaborationGroup</resource>
    <resource>Comments</resource>
    <resource>CommonAttributeType</resource>
    <resource>CommonPatient</resource>
    <resource>Contact</resource>
    <resource>DataAvailable</resource>
    <resource>DataSourceContent</resource>
    <resource>Design</resource>
    <resource>Evidence</resource>
    <resource>Feature</resource>
    <resource>FileType</resource>
    <resource>Finding</resource>
    <resource>GDOCUser</resource>
    <resource>Gene</resource>
    <resource>GeneAlias</resource>
    <resource>GeneRelationship</resource>
    <resource>GeneRelationshipEvidence</resource>
    <resource>IdMapping</resource>
    <resource>Invitation</resource>
    <resource>KmAttribute</resource>
    <resource>MSDesign</resource>
    <resource>MSPeak</resource>
    <resource>Membership</resource>
    <resource>MicroarrayFile</resource>
    <resource>Molecule</resource>
    <resource>MoleculeTarget</resource>
    <resource>Outcome</resource>
    <resource>Patient</resource>
    <resource>ProtectedArtifact</resource>
    <resource>Protein</resource>
    <resource>ReductionAnalysis</resource>
    <resource>Reporter</resource>
    <resource>Role</resource>
    <resource>Sample</resource>
    <resource>SavedAnalysis</resource>
    <resource>Structure</resource>
    <resource>StructureFile</resource>
    <resource>Study</resource>
    <resource>StudyPatient</resource>
    <resource>Subject</resource>
    <resource>TargetRelationships</resource>
    <resource>UserList</resource>
    <resource>UserListItem</resource>
    <resource>UserOption</resource>
    <resource>DuplicateCollaborationGroupException</resource>
    <resource>LoginException</resource>
    <resource>SecurityException</resource>
    <resource>IndexDatabaseJob</resource>
    <resource>AnnotationService</resource>
    <resource>AttributeService</resource>
    <resource>BiospecimenService</resource>
    <resource>CleanupService</resource>
    <resource>ClinicalService</resource>
    <resource>CollaborationGroupService</resource>
    <resource>CustomUserDetailsService</resource>
    <resource>DataAvailableService</resource>
    <resource>ExportService</resource>
    <resource>ExtensionService</resource>
    <resource>FeedService</resource>
    <resource>FindingService</resource>
    <resource>GDOCUserService</resource>
    <resource>HtDataService</resource>
    <resource>IdService</resource>
    <resource>InvitationService</resource>
    <resource>JmxService</resource>
    <resource>OutcomeDataService</resource>
    <resource>PatientService</resource>
    <resource>SavedAnalysisService</resource>
    <resource>SecurityService</resource>
    <resource>StudyDataSourceService</resource>
    <resource>SubjectService</resource>
    <resource>TagService</resource>
    <resource>UserListService</resource>
    <resource>VennService</resource>
    <resource>GdocTagLib</resource>
    <resource>MultiselectTagLib</resource>
    <resource>AnalysisType</resource>
    <resource>AnnotationType</resource>
    <resource>Constants</resource>
    <resource>ControllerMixin</resource>
    <resource>CustomLdapUserDetailsMapper</resource>
    <resource>CustomUserDetails</resource>
    <resource>DESEncrypter</resource>
    <resource>DataExtension</resource>
    <resource>DataType</resource>
    <resource>EncryptionUtil</resource>
    <resource>Extension</resource>
    <resource>InviteStatus</resource>
    <resource>ParamsHelper</resource>
    <resource>QueryBuilder</resource>
    <resource>QueryUtils</resource>
    <resource>StudyContext</resource>
    <resource>StudyContextInterceptor</resource>
    <resource>SubjectType</resource>
    <resource>TimepointComparator</resource>
    <resource>UserOptionType</resource>
    <resource>VennContainer</resource>
    <resource>WorkflowExtension</resource>
  </resources>
  <dependencies>
    <plugin name='recaptcha' version='0.5.2' />
    <plugin name='searchable' version='0.5.5' />
    <plugin name='taggable' version='0.6.1' />
    <plugin name='jquery' version='1.3.2.4' />
    <plugin name='mail' version='0.9' />
    <plugin name='quartz' version='0.4.1' />
    <plugin name='springSecurityCore' version='1.1.2' />
    <plugin name='springSecurityLdap' version='1.0.3' />
  </dependencies>
  <behavior>
    <method name='decamelize' artefact='Controller' type='java.lang.String'>
      <description />
    </method>
    <method name='decamelize' artefact='Controller' type='java.lang.String'>
      <description />
      <argument type='java.lang.Object' />
    </method>
  </behavior>
</plugin>